 
        <header class="header">
          <section class="hero is-dark is-medium">
            <div class="hero-head">
              <nav class="navbar is-fixed-top is-spaced navbar-dark" role="navigation" aria-label="main navigation">
                <!-- fixnavbar to top transition -->
                {{!-- <div class="container"> --}}
                  <div class="navbar-brand">
                    <a class="navbar-item">
<a href="/homepage"> <img src="../../img/wrkwith-bigger.png" alt="" style="height: 50px;"></a>
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                      <!-- menu options in middle -->
                      <a href="/homepage" class="navbar-item">
                        Home
                      </a>
                      <a href="/projects" class="navbar-item">
                        Projects
                      </a>
                      <a href="/community"class="navbar-item">
                        Community
                      </a>
                      <span class="navbar-item">
                        <div class="buttons">
                          {{!-- <a href="" class="button is-danger is-medium">
                            <strong>Sign up</strong>
                          </a> --}}
                          <a class="button is-light is-medium" href="/login">
                            Log in
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                {{!-- </div> --}}
              </nav>
            </div>
          
            <div class="hero-body">
              <div class="container has-text-centered">
                <p class="title is-size-1">
                  wrkwith
                </p>
                <p class="subtitle is-size-3">
                  The Project Collaborating Site
                </p>
                {{!-- <a href="" class="button is-danger is-large">
                            <strong>Sign up Today</strong>
                          </a> --}}
              </div>
            </div>
          </section>
        </header>
        <section class="innerBody">





        </section>