<header class="header">
          <section class="hero is-dark is-medium">
            <div class="hero-head">
              <nav class="navbar" role="navigation" aria-label="main navigation">
                <!-- fixnavbar to top transition -->
                {{!-- <div class="container"> --}}
                  <div class="navbar-brand">
                    <a class="navbar-item">
                      <img src="" alt="">
                      LOGO-PH
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                      <!-- menu options in middle -->
                      <a class="navbar-item">
                        Home
                      </a>
                      <a class="navbar-item">
                        Projects
                      </a>
                      <a class="navbar-item">
                        Community
                      </a>
                      <span class="navbar-item">
                        <div class="buttons">
                          {{!-- <a href="" class="button is-danger is-medium">
                            <strong>Sign up</strong>
                          </a> --}}
                          <a class="button is-light is-medium">
                            <i class="fas fa-user-circle"></i>
                            &nbsp Profile
                          </a>
                          <a class="button is-light is-medium">
                            Log Out
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                {{!-- </div> --}}
              </nav>
            </div>
          
            <div class="hero-body">
              <div class="container has-text-centered">
                <p class="title is-size-1">
                  wrkwith
                </p>
                <p class="subtitle is-size-3">
                  The Project Collaborating Site
                </p>
                <a href="" class="button is-danger is-large">
                            <strong>Sign up Today</strong>
                          </a>
              </div>
            </div>
          </section>
        </header>
        <section class="innerBody">
{{!-- page template top half end --}}



<div class="ui link cards">
  {{#each users as |user|}}
  <div class="card">
    <div class="image">
      <img src="/images/avatar2/large/matthew.png">
    </div>
    <div class="content">
      <div class="header">{{user_name}}</div>
      <div class="meta">
        <p> {{first_name}} {{last_name}}</p> 
      </div>
      <div class="description">
        need to add this to the database !! 
      </div>
    </div>
    <div class="extra content">
      <span class="right floated">
       <a href="/api/user/{{id}}"><button class="ui inverted red button">View Profile</button></a>
      </span>
     
    </div>
  </div>
  {{/each}}
</div>



{{!-- page template base end --}}
</section>