{{#if logged_in}}
{{>loggedIn}}
{{else}}
{{>loggedOut}}
{{/if}}
{{!-- page template top half end --}}

<section class="section section-1 homepageBox">
    <div class="ui items">
        <div class="item">

            <div class="content">
                <a class="ui orange header">Colloborate</a>
                <div class="meta">
                    <span>Share, Build, Learn </span>
                </div>
                <div class="description">
                    <p>The wrkwith-app is a peer-to-peer collaboration platform. Share your projects and let others work on them with you.</p>
                </div>
                <div class="extra">
                    “Stack overflow is so yesterday” - andrea - verified user june 2021 
                </div>
            </div>
        </div>
    </div>

    <div class="image">
        <img class="ui fluid image rounded" src="/img/undraw_work_together_h63l.png">
    </div>
</section>

<section class="section section-2">
<div class="image">
    <img class="ui fluid image rounded" src="/img/undraw_access_denied_re_awnf.png">
</div>

 <div class="ui items">
        <div class="item">

            <div class="content">
                <a class="ui orange header">Don't Get Stuck</a>
                <div class="meta">
                    <span>Frustrated?, Stuck?, Lost?</span>
                </div>
                <div class="description">
                    <p>With the wrkwith-app you can share your projects and let others work on them with you, so you wont feel stuck ever again! </p>
                </div>
                <div class="extra">
                    “Don't get stuck, get wrkwith!”
                </div>
            </div>
        </div>
</div>

</section>

<section class="section section-3 homepageBox">
<div class="ui items ">
        <div class="item">

            <div class="content ">
                <a class="ui orange header">Find Your Passion</a>
                <div class="meta">
                    <span>Search, Find, wrkwith! </span>
                </div>
                <div class="description">
                    <p>The wrkwith-app platform is not just about sharing your projects but a place for you to contribute and share your knoweldge with others.</p>
                </div>
                <div class="extra">
                    “Search, find, wrkwith and build together!"
                </div>
            </div>
        </div>
    </div>

    <div class="image ">
        <img class="ui fluid image rounded" src="/img/undraw_online_cv_qy9w.png">
    </div>

</section>







{{!-- page template base end --}}