{{>loggedout}}
{{!-- page template top half end --}}


<div class="">
<section class="section is-medium">
  <h1 class="title">Medium section 1</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
<section class="section is-medium">
  <h1 class="title">Medium section 2</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>
</div>




<section class="section is-large">
  <h1 class="title">Large section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2>
</section>


{{!-- page template base end --}}
