{{>loggedOut}}
{{!-- page template top half end --}}
<link rel="stylesheet" href="../css/homepage.css">
<section class="section is-medium section-2">
<div class= 'container-1'>
<div class="container_content">
<div class="container_content_inner">
<div class="title">
  <h1 class="sec-1">Work With</h1>
</div>
<div class="par">
<h2 class="subtitle">
The place where you can share your ideas and get free collaboration</h2>
</div>
</div>
</div>
 <div class="container_outer_img">
 <div class="img-inner">
 <img src='https://images.unsplash.com/photo-1600880292203-757bb62b4baf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80'  alt="" class="container_img"/>
       </div>
     </div>
  </div>
<div class="overlay"></div>

<div>


  
</section>
</div>


{{!-- <section class="section is-large"> --}}
  {{!-- <h1 class="title">Large section</h1>
  <h2 class="subtitle">
    A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading.
  </h2> --}}



{{!-- page template base end --}}
