<section class="section is-medium loginbox">
  <div class="box title is-4 has-text-centered logIn">
            <i class="fas fa-sign-in-alt"></i>
             Log In Below
    </div>
    <form class="box logIn is-justify-content-center is-align-content-center">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" placeholder="e.g. name@example.com" id="logInEmail">      
              </div>
            </div>
          
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="********" id="logInPassword">
              </div>
            </div>
          
            <button class="button is-danger" id="LogIn">Sign in</button>
    </form>
</section>
    {{!-- <script src=".js/createUser.js" --}}