
        <header class="header">
          <section class="hero is-dark is-medium">
            <div class="hero-head">
              <nav class="navbar is-fixed-top is-spaced navbar-dark" role="navigation" aria-label="main navigation">
                <!-- fixnavbar to top transition -->
                {{!-- <div class="container"> --}}
                  <div class="navbar-brand">
                    <a class="navbar-item">
                      <img src="" alt="">
                      LOGO-PH
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                      <!-- menu options in middle -->
                      <a class="navbar-item">
                        Home
                      </a>
                      <a class="navbar-item">
                        Projects
                      </a>
                      <a class="navbar-item">
                        Community
                      </a>
                      <span class="navbar-item">
                        <div class="buttons">
                          {{!-- <a href="" class="button is-danger is-medium">
                            <strong>Sign up</strong>
                          </a> --}}
                          <a class="button is-light is-medium">
                            Log in
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                {{!-- </div> --}}
              </nav>
            </div>
          
            <div class="hero-body">
              <div class="container has-text-centered">
                <p class="title is-size-1">
                  wrkwith
                </p>
                <p class="subtitle is-size-3">
                  The Project Collaborating Site
                </p>
                <a href="" class="button is-danger is-large">
                            <strong>Sign up Today</strong>
                          </a>
              </div>
            </div>
          </section>
        </header>
        <section class="innerBody">
{{!-- page template top half end --}}


<section class="section is-medium loginbox">
  <div class="box title is-4 has-text-centered logIn">
            <i class="fas fa-sign-in-alt"></i>
             &nbsp Log In Below
    </div>
    <form class="box logIn is-justify-content-center is-align-content-center">
            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="email" placeholder="e.g. name@example.com" id="logInEmail">      
              </div>
            </div>
          
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="********" id="logInPassword">
              </div>
            </div>
          
            <button class="button is-danger" id="LogIn">Sign in</button>
            <button class="button is-light" id="LogIn">Create Account</button>
    </form>
</section>


{{!-- page template base end --}}
</section>
  