{{>loggedInNoHero}}

 <section class="section is-medium">
 
 <div class="ui attached inverted message box">
  <div class="header">
    Create New Project
  </div>
  
</div>
<form class="ui form attached fluid segment signUP">
  
    <div class="field">
      <label>Project Title</label>
      <input placeholder="Project title" type="text" id="projectTitle">
    </div>
    
  
  <div class="field">
    <label>Technology Used</label>
    <input placeholder="Technology" type="text" id="techno">
  </div>
  <div class="field">
    <label>Details</label>
    <input placeholder="Details" type="text" id="details">
  </div>
  

  <div class="ui red submit button" id="createProject">Create Project</div>
</form>

 
</div>
  
</section>



</section>

<script src="../js/createproject.js"></script>