{{>loggedInNoHero}}
<section class="section is-medium">

<div class="ui top attached tabular menu">
  <a href="/profile-edit" class="item" data-tab="first">Edit Profile</a>
  <a href="/profile-image" class="item active" data-tab="second">Edit Profile Image</a>
</div>
<div class="ui bottom attached tab segment" data-tab="first">
  First
</div>
<div class="ui bottom attached tab segment active" data-tab="second">



<div class="ui placeholder segment is-align-content-center">
  {{!-- <div class="is-size-4">
    <i class="pdf file outline icon"></i>
    No documents are listed for this customer.
  </div> --}}
<form action="/api/user/create/upload" method="POST" encType="multipart/form-data" class="">
  <h3>Upload Profile Photo</h3>
  <input type="file" name="samplefile" accept="image/*" />
  <input type="submit" class="button btn btn-primary">
</form>
</div>




</div>










</section>

 <script src="js/tabFunction.js"></script>
 {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> --}}
 
 {{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script> --}}