{{> navbar}}

<section class="section is-medium">
 
</section>

<section class="section is-medium is-flex is-justify-content-center">
 <button class="button is-large is-danger">
     Add A New Project    &nbsp &nbsp
     <i class="fas fa-plus-square"></i>
</button>

</section>

<section class="section is-medium">
 
</section>