{{>loggedIn}}
<section class="section is-medium">
<div class="ui link cards">
  {{#each projects as |project|}}
  <a href="/api/project/projects/">

  <div class="card">
    <div class="content">
      <div class="header">{{title}}</div>
      <div class="meta">
        <p> {{details}}</p> 
      </div>
      <div class="description">
        need to add this to the database !! 
      </div>
    </div>
 //needs name, technology, 
 //EAch card links to project page, - everything on database 
   </div>
    </a>
  {{/each}}
</div>
</section>