{{>loggedIn}}
<section class="section is-medium">
<div class="ui link cards">
  {{#each projects as |project|}}
  <a href="/html/project/{{id}}">

  <div class="card">
    <div class="content">
      <div class="header">{{title}}</div>
      <div class="meta">
        <p> {{details}}</p> 
      </div>
      <div class="description">
        need to add this to the database !! 
      </div>
    </div>
 
  </div>
    </a>
  {{/each}}
</div>
</section>