<div class="ui link cards">
  {{#each projects as |project|}}
  <div class="card">
    <div class="content">

      <div class="header">{{project.title}}</div>
//all the information from the DB plus collaborators and creator
     </div> 
 
  </div>
    </div>
  {{/each}}
c1</div>