{{>loggedIn}}
<section class="section is-medium">
<div class="ui link cards">
  {{#each projects as |project|}}
<<<<<<< HEAD
  <a href="/api/project/projects/">
=======
  <a href="/api/project/projects/{{id}}">
>>>>>>> b8e9488b8b9b627a1729ba2e755917e39998b290

  <div class="card">
    <div class="content">
      <div class="header">{{title}}</div>
      <div class="meta">
        <p> {{details}}</p> 
      </div>
      <div class="description">
        need to add this to the database !! 
      </div>
    </div>
 
  </div>
    </a>
  {{/each}}
</div>
</section>