 
        <header class="header">
          <section class="hero is-dark is-medium">
            <div class="hero-head">
              <nav class="navbar" role="navigation" aria-label="main navigation">
                <!-- fixnavbar to top transition -->
                {{!-- <div class="container"> --}}
                  <div class="navbar-brand">
                    <a class="navbar-item">
                      <img src="" alt="">
                      LOGO-PH
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                      <span></span>
                      <span></span>
                      <span></span>
                    </span>
                  </div>
                  <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                      <!-- menu options in middle -->
                      <a class="navbar-item">
                        Home
                      </a>
                      <a class="navbar-item">
                        Projects
                      </a>
                      <a class="navbar-item">
                        Community
                      </a>
                      <span class="navbar-item">
                        <div class="buttons">
                          {{!-- <a href="" class="button is-danger is-medium">
                            <strong>Sign up</strong>
                          </a> --}}
                          <a class="button is-light is-medium">
                            Log in
                          </a>
                        </div>
                      </span>
                    </div>
                  </div>
                {{!-- </div> --}}
              </nav>
            </div>
          
            <div class="hero-body">
              <div class="container has-text-centered">
                <p class="title is-size-1">
                  wrkwith
                </p>
                <p class="subtitle is-size-3">
                  The Project Collaborating Site
                </p>
                {{!-- <a href="" class="button is-danger is-large">
                            <strong>Sign up Today</strong>
                          </a> --}}
              </div>
            </div>
          </section>
        </header>
        <section class="innerBody">
{{!-- page template top half end --}}
 
 
 <section class="section is-medium  signupbox">
 <div class="box title is-4 has-text-centered signUP">
            <!-- <i class="fas fa-sign-in-alt"></i> -->
             Create Account
</div>
 
 <form class="box signUP">

              <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Joe" id="firstName">     
                </div>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Bloggs" id="lastName">       
                </div>
              </div>
              <div class="field">
                <label class="label">Create User Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="create user name" id="userName">       
                </div>
              </div>
              <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="e.g. name@example.com" id="emailSignUp">       
                  </div>
              </div>
              
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="********" id="PWMain">
                  </div>
              </div>
    
              <div class="field">
                <label class="label">Re-Enter Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="********" id="PWCheck">
                </div>
            </div>
            
              
                <button class="button has-background-success-dark has-text-white" id="creatAccount">Create Account</button>
               
        </form>
</section>


{{!-- page template base end --}}
</section>

<script src="js/createUser.js"></script>