 <div class="box title is-4 has-text-centered">
            <!-- <i class="fas fa-sign-in-alt"></i> -->
             Create Account
</div>
 
 <form class="box signUP">

              <div class="field">
                <label class="label">First Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Joe" id="firstName">     
                </div>
              </div>
              <div class="field">
                <label class="label">Last Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Bloggs" id="lastName">       
                </div>
              </div>
              <div class="field">
                <label class="label">Create User Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="create user name" id="userName">       
                </div>
              </div>
              <div class="field">
                  <label class="label">Email</label>
                  <div class="control">
                    <input class="input" type="email" placeholder="e.g. name@example.com" id="emailSignUp">       
                  </div>
              </div>
              
              <div class="field">
                  <label class="label">Password</label>
                  <div class="control">
                    <input class="input" type="password" placeholder="********" id="PWMain">
                  </div>
              </div>
    
              <div class="field">
                <label class="label">Re-Enter Password</label>
                <div class="control">
                  <input class="input" type="password" placeholder="********" id="PWCheck">
                </div>
            </div>
            
              
                <button class="button has-background-success-dark has-text-white" id="creatAccount">Create Account</button>
               
        </form>