{{>loggedOutMiniHero}}
{{!-- page template top half end --}}
 
 
 <section class="section is-medium">
 
 <div class="ui attached inverted message box">
  <div class="header">
    Create Account
  </div>
  <p>Fill out the form below to sign-up for a new account</p>
</div>
<form class="ui form attached fluid segment signUP">
  <div class="two fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text" id="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text" id="lastName">
    </div>
  </div>
  <div class="field">
    <label>Username</label>
    <input placeholder="Username" type="text" id="userName">
  </div>
  <div class="field">
    <label>Email</label>
    <input placeholder="Email" type="email" id="emailSignUp">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" placeholder="********" id="PWMain">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" placeholder="********" id="PWCheck">
  </div>

  {{!-- <div class="inline field">
    <div class="ui checkbox">
      <input type="checkbox" id="terms">
      <label for="terms">I agree to the terms and conditions</label>
    </div>
  </div> --}}
  <div class="ui red submit button" id="creatAccount">Create Account</div>
</form>
<div class="ui bottom attached warning message">
  <i class="icon help"></i>
  Already signed up? <a href="/login">Login here</a> instead.
</div>
  
</section>


{{!-- page template base end --}}
</section>

<script src="/js/createUser.js"></script>