* {
    /* all:unset; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
  }

ol,
ul {
  list-style: none;
}  

html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}

/* html {
  background-image: url("/assets/Background-symbols.jpg");
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;

} */



/* ==============================================
-  Header
============================================== */

/* .header{
    width: 100%;
    z-index: 2;
  } */


  /* .navbar-brand{
    position: fixed;
    top: 0;
    z-index: 2;
  } */
  
  .navbar-item{
    font-size: 1.5rem;
  }
  
  .hero-body{
    background-image: url("../../public/assets/Background-symbols.jpg");
    background-position: center;
    background-size: cover;
  }

  .sticky{
    position: sticky;
    top: 0;
  }


  /* ==============================================
-  Footer
============================================== */
.footer{
  position: relative;
  bottom: 0;
}